.container{
    background-color: rgb(204, 216, 228);  
}
h1{
    color: brown;
    text-align: center;
}
.user-details{
    color: burlywood;
    text-align: cent;
    margin-bottom: 10px;
    height: 20px;
    width: 300px;
}
button{
    color:blue;
    background-color:rgb(93, 193, 240);
    text-align: left;
    margin-top: 17px;
    margin-right: 175px;
}
#div-id{
    text-align: center;
}

.form-signup{
    background-color:blueviolet;
    height: 50px;
}

.alignment-form{
    margin-right:30px;
    /* /width: 300px; */
    height:20px;
}

.filter-design{
    background-color: pink;
    height: 200px
}

.filter-align-left{
    text-align:left
}

.filter-align-right{
    text-align: center;;
}

/* .list{
    text-align:center;
} */
