.container{
    background-color: rgb(204, 216, 228);
    
}
h1{
    color: brown;
    text-align: center;
}
.user-details{
    color: burlywood;
    text-align: cent;
    margin-bottom: 10px;
    height: 20px;
    width: 300px;
}
button{
    color:blue;
    background-color:rgb(93, 193, 240);
    text-align: left;
    margin-top: 17px;
    margin-right: 175px;
}
#div-id{
    text-align: center;
}

